<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "customerRepository" class = "org.study.ordersystem.CustomerRepositoryImpl"/>
    <bean id = "customerService" class = "org.study.ordersystem.CustomerServiceImpl">
        <property name="customerRepository" ref="customerRepository"></property>
    </bean>
    <bean id ="singletonBean" class="org.study.bean.SingletonBean" init-method="init" destroy-method="destroy"/>
    <bean id ="prototypeBean" class="org.study.bean.PrototypeBean" scope="prototype" init-method="init" destroy-method="destroy"/>
    <bean id ="factoryBean" class="org.study.bean.FactoryBean"  factory-method="getInstance" destroy-method="destroy"/>
    <bean id ="injectedBean" class="org.study.bean.InjectedBean" scope="prototype"/>
    <bean id ="dependentBean1" class="org.study.bean.DependentBean1">
        <constructor-arg ref = "injectedBean"/>
    </bean>
    <bean id ="dependentBean2" class="org.study.bean.DependentBean2">
        <property name = "injectedBean" ref = "injectedBean"/>
    </bean>
</beans>